::placeholder {
  color: lighten($color-body, 0);
  letter-spacing: 1px;
}

input {
  border-radius: $border-radius;
  border: 1px solid darken($color-nav, 30%);
  font-size: 1.2rem;
  outline: 0;
  padding: 0.8rem 1rem;

  &:focus {
    border-color: darken($color-nav, 60%);
    transition: border-color 0.5s;
  }
}

label {
  font-size: 1.5rem;
  color: darken($color-body, 50%);
}

.input-group {
  label {
    display: block;
  }

  input {
    width: 100%;
  }

  span {
    color: $color-accent;
    font-size: 1.3rem;
    font-weight: 500;
  }
}

.input-group--inline {
  display: flex;
  gap: 5px;

  input {
    flex-grow: 1;
  }
}

.input-group--nolabel {
  label {
    display: none;
  }

  input {
    border-radius: 0;
    border-width: 0 0 1px;
    width: 100%;
  }
}

form {
  .input-group {
    margin-bottom: 1.5rem;

    &:last-child {
      margin: 0;
    }
  }
}

/* Button */
.btn {
  padding: 0.8rem 2rem;
  border-radius: $border-radius;
  outline: none;
  white-space: nowrap;
  border: 0;
}

.btn--primary {
  background: $color-primary;
  color: $color-nav;

  &:hover {
    background-color: lighten($color-primary, 5%);
    transition: background-color 0.3s;
  }
}