/* Lists */
.list {
  list-style: none;
  padding: 0;
  margin: 0;

  .active {
    font-weight: 500;
    color: darken($color-body, 5%);
  }
}

%list--inline-shared {
  display: flex;
  gap: 20px;
}

.list--inline {
  @extend %list--inline-shared;
}
