/* badge */
.badge {
  border-radius: 20px;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

.badge--accent {
  background: $color-accent;
  color: #fff;
}

.badge--primary {
  background-color: $color-primary;
  color: $color-nav;
  border-radius: 0;
}

.badge--vertical {
  writing-mode: vertical-lr;
  text-transform: uppercase;
  font-weight: 500;
}

/* List with Badge */
.list-with-badge {
  position: relative;
  display: inline-block;

  .badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    padding: 5px;
    font-size: 0.75rem;
    min-width: 20px;
    text-align: center;
  }
}
