.account {
  .account__sidebar {
    margin-top: 2rem;
    border-top: 1px solid $color-primary;
    .list {
      @extend %list--inline-shared;
      justify-content: center;
      margin-top: 1rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .account {
    display: flex;

    .account__sidebar {
      border-right: 1px solid $color-primary;
      border-top: none;
      margin-top: 0;
      min-width: 10rem;
      order: 1;

      .list {
        display: block;
        margin-top: 0;
      }
    }

    .account__content {
      order: 2;
    }
  }
}
