.cart {
  &__total {
    margin-top: 2rem;
  }

  &__checkout-action {
    margin-top: 2rem;

    button {
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .cart {
    display: flex;
    gap: 2rem;

    &__item {
      width: 70%;
    }

    &__total {
      width: 30%;
      margin: 0;
    }
  }
}
