.product {
  &__main {
    display: grid;
    grid-template-columns: 100%;
    gap: 4rem;
  }

  &__description {
    margin-top: 5rem;
  }

  &__actions {
    margin-top: 2rem;

    button {
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .product {
    &__main {
      grid-template-columns: 50% 50%;
    }

    &__actions {
  
      button {
        width: auto;
      }
    }
  }
}
