$color-primary: #f84822;
$color-secondary: #f03108;
$color-accent: #ea1400;
$color-nav: #fff;
$color-headings: #090909;
$color-body: #111;
$border-radius: 5px;
$margin-page-container: 0 2rem;
$margin-page-container-desktop: 0 5rem;

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
::selection {
  background: $color-primary;
  color: $color-nav;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color: $color-body;
}

h1,
h2,
h3 {
  color: $color-headings;
  margin-bottom: 2rem;
  line-height: 1.1;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.3;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: $color-body;
}

a:hover {
  text-decoration: underline;
  transform: scale(1.01);
  transition: transform 0.5s;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* Page Default Style */
.header,
.footer {
  background: $color-primary;
  padding: 2rem 0;
  background: $color-primary;

  p,
  a,
  .icon {
    color: $color-nav;
  }

  input {
    border-color: $color-nav;
    color: $color-body;

    &::placeholder {
      color: $color-body;
    }
  }

  ::selection {
    background: $color-nav;
    color: $color-primary;
  }
}

.main {
  margin: 5rem 0;
}

/* Global re-usable styles */

.container {
  margin: $margin-page-container;
}

@media screen and (min-width: 768px) {
  .container {
    margin: $margin-page-container-desktop;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    margin: 0 10rem;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}


.text {
  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.swal2-container {
  .swal2-icon.swal2-error {
    border-color: $color-accent;

    .swal2-x-mark > span {
      background-color: $color-accent;
    }
  }

  .swal2-icon.swal2-success {
    [class^='swal2-success-line'] {
      background-color: $color-primary;
    }
  }

  .swal2-actions {
    .swal2-confirm {
      background: $color-primary;
      color: $color-nav;
    }
  }
}

.w-500 {
  font-weight: 500;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}